.parallax {
  background-image: url("https://occ-0-4241-185.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABdFdlfKQ8KIKrXmNUpZ5AefjDM7F-sKG17jYBPsGT6FSkQ_-Vw1HrT6_sRr93njMucEZnkIUvBtLK3YwItqtDCZbIESA7A7mrTV_.webp?r=77f");
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
}
